body {
  font-family: Verdana, Helvetica;
}

.article {
}

img.star {
  color: #fff;
}

a.delete {
  font-size: 1.5em;
  color: red;
}

.cursored
{
  cursor: pointer;
}

a.title {
}

.summary {
  margin: 20px;
}

.created_at {
  color: #888;
  font-size: 0.75em;
  text-align: right;
}

.advice{
  color: #000; 
  line-height: 20px; 
  padding: 10px; 
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px;
  background-color: #ddd;
  margin: 2em;
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 0.75em;
}

.user {
  font-weight: bold;
}

.copyright {
  padding-top: 1.5em;
}
.copyright a {
  text-decoration: none;
  color: #888;
}