body {
  font-family: Verdana, Helvetica;
}

.article {
}

a.star {
  font-size: 1.5em;
  color: #fc3;
}

a.delete {
  font-size: 1.5em;
  color: red;
}

.cursored
{
  cursor: pointer;
}

a.title {
}

.summary {
  margin: 20px;
}

.created_at {
  color: #888;
  font-size: 0.75em;
  text-align: right;
}

.footer {
  text-align: center;
  color: #888;
  font-size: 0.75em;
}

.footer a {
  text-decoration: none;
  color: #888;
}