body {
  font-family: Verdana, Helvetica;
}

.post {
}

a.delete {
  font-size: 1.5em;
  color: red;
}

.cursored
{
  cursor: pointer;
}

a.title {
}

.summary {
  margin: 20px;
}

.created_at {
  color: #888;
  font-size: 0.75em;
  text-align: right;
}